body {
    background-image: url("https://www.solidbackgrounds.com/images/2560x1440/2560x1440-medium-persian-blue-solid-color-background.jpg");
    background-size: auto 100v;
    font-family: Verdana;
    height: 100vh
  }
  .menu {
    background-color: white;
  }
  .menu ul {
    display: flex;
    justify-content: space-around; 
  }
  .menu li {
    list-style: none;
  }
  a {
    color: teal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline; color: black;
  }
  .site-title {
    text-align: center;
    color: whitesmoke;
  }
  .site-subtitle {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
  }
  .site-text {
   text-align: center;
   color: whitesmoke;
  }